.navbar {
  border: none; // 1px solid transparent
  margin-bottom: 0; // 20px
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:hover {
  background-color: #eee; // #ddd
  border-color: #eee; // #ddd
}
.navbar .navbar-toggle .icon-bar {
  background-color: #333; // #888
}
@media (max-width: 767px) {
  .navbar-nav {
    margin-top: 0; // 7.5px
    margin-bottom: 0; // 7.5px
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    padding-right: 0; // 15px
  }
}

// @see https://kuler.adobe.com/when-will-the-storm-come-color-theme-4162685/
.breadcrumb {
  margin-bottom: 20px;
  border-radius: 0; // 4px
  background-color: #F9F7C8;
}
.breadcrumb > li + li:before {
  color: #999; // #ccc
}
.breadcrumb .active {
  font-weight: bold;
  color: #333; // #999
}
.breadcrumb .btn-xs {
  display: inline-block;
  margin-left: 1em;
}

.sign-in {
  label {
    display: inline;
    font-weight: 400;
    cursor: pointer;
  }

  label, a {
    padding-left: 1em;
  }
}

@media (max-width: 767px) {
  .sign-in a {
    padding-top: 1em;
    padding-left: 0;
    display: block;
  }
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 1em;
}

p,
ul {
  margin-bottom: 20px;
}
