<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li class="active"><%= _('Organizations') %></li>
</ol>
<% end %>

<ul>
<% @organizations.each do |organization| %>
  <li>
    <%= link_to organization.name, organization %>
  </li>
<% end %>
</ul>

<%= link_to(new_organization_path, class: 'btn btn-primary') do %>
  <span class="glyphicon glyphicon-plus"></span> <%= _('Add an organization') %>
<% end %>
