<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to _('Policy Tables'), policy_tables_path %></li>
  <li class="active"><%= _('Add') %></li>
</ol>
<% end %>

<%= render 'form' %>
