<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li class="active"><%= _('Simulators') %></li>
</ol>
<% end %>

<ul>
<% @simulators.each do |simulator| %>
  <li>
    <%= link_to simulator.name, simulator %>
  </li>
<% end %>
</ul>

<%= link_to(new_simulator_path, class: 'btn btn-primary') do %>
  <span class="glyphicon glyphicon-plus"></span> <%= _('Add a simulator') %>
<% end %>
