<% if record[attribute].present? %>
<div class="row">
  <div class="col-sm-2">
    <h2><%= record.class.human_attribute_name(attribute) %></h2>
  </div>
  <div class="col-sm-10">
  <%= record[attribute] %>
  </div>
</div>
<% end %>
