<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to _('Policy Tables'), multipliers_path %></li>
  <li><%= link_to @multiplier.name, @multiplier %></li>
  <li class="active"><%= _('Edit') %></li>
</ol>
<% end %>

<%= render 'form' %>
